* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  overflow-x: hidden; 
}

.mainpage {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  margin: 0 auto;
}

.kakaotalk-img {
  width: 100%; /* 화면 너비를 완전히 채우도록 설정해놓음 */
  height: 88%;
  position: relative;
  top: 76px;
  left: 0;
  object-fit: cover;
}

.rectangle1, .rectangle2 {
  width: 100%;
  height: 76px;
  position: absolute;
  background-color: white;
}

.rectangle1 {
  top: 0;
  left: 0;
}

.rectangle2 {
  bottom: 0;
  left: 0;
}

.group1 {
  width: 100%;
  height: 10%;
  position: relative;
  left: 20px;
  top: 1%;
}

.school-name {
  position: relative;
  color: black;
  font-size: 26px;
  font-weight: 900;
  top: 0%;
  left: 73px;
}

.school-type {
  position: relative;
  color: black;
  font-size: 16px;
  font-weight: 400;
  top: 0%;
  left: 73px;
}

.symbol-img {
  position: absolute;
  width: 66px;
  height: 64px;
  top: 0;
  left: 0;
}

.line1 {
  position: absolute;
  width: 1px;
  height: 48px;
  top: 7px;
  left: 66px;
  border-right: 1px solid black;
}

.close-icon {
  position: absolute;
  color: black;
  font-size: 22px;
  top: 12%;
  left: 285px;
}

.ssam {
  position: absolute;
  color: black;
  font-size: 35px;
  font-family: 'Keania One', sans-serif;
  top: 10%;
  left: 308px;
}

.logo1 {
  position: absolute;
  width: 100%;
  max-width: 617px;
  height: auto;
  left: 50%;
  top: 156px;
  transform: translateX(-50%);
}

.logo2 {
  position: absolute;
  width: 125px;
  height: 76px;
  left: 29px;
  top: 3px;
}

.group4 {
  width: 100%;
  max-width: 761px;
  height: 27px;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.menu-item {
  color: black;
  font-size: 22px;
  font-weight: 400;
}

.bk-act {
  width: 68px;
  height: 37px;
  position: absolute;
  right: 20px;
  top: 0%;
  right: 20px;
}

.with {
  position: absolute;
  color: black;
  font-weight: lighter;
  font-size: 35px;
  font-style: italic;
  width: 350px;
  height: 35px;
  top: 575px;
  left: 960px;
  transform: translateX(-50%);
  text-align: center;
}
