.mainpage-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 76px;
}
.logo-2-icon {
    position: absolute;
    top: 3px;
    left: 29px;
    width: 125px;
    height: 76px;
    object-fit: cover;
}
.menu-item {
  color: black;
  font-size: 22px;
  font-weight: 400;
}
.group4 {
    width: 100%;
    max-width: 761px;
    height: 27px;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
.mainpage-item {
    position: absolute;
    top: 78.5px;
    left: -0.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1441px;
    height: 1px;
}
.mainpage-inner {
    position: absolute;
    top: 100.5px;
    left: 87.5px;
    border-top: 3px solid #000;
    box-sizing: border-box;
    width: 1264px;
    height: 3px;
}
.div4 {
    position: absolute;
    top: 11px;
    left: 45px;
    font-size: 26px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 199px;
    display: inline-block;
    width: 26px;
    height: 46px;
}
.div6 {
    position: absolute;
    top: 0px;
    left: 26px;
    display: inline-block;
    width: 26px;
    height: 46px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.group {
    position: absolute;
    top: 147px;
    left: 608px;
    width: 225px;
    height: 46px;
    font-size: 39px;
}
.rectangle-div {
    position: absolute;
    top: 151px;
    left: 91px;
    border-radius: 25px;
    background-color: #2e2e2e;
    width: 97px;
    height: 42px;
}
.live {
    position: absolute;
    top: 158px;
    left: 128px;
    color: #fff;
    display: inline-block;
    width: 59.8px;
    height: 32.8px;
}
.ellipse-div {
    position: absolute;
    top: 163px;
    left: 102px;
    border-radius: 50%;
    background-color: #fa4f4f;
    width: 19px;
    height: 19px;
}
.mainpage-child1 {
    position: absolute;
    top: 151px;
    left: 195px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 57px;
    height: 42px;
}
.mainpage-child2 {
    position: absolute;
    top: 151px;
    left: 259px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 57px;
    height: 42px;
}
.ekffur-removebg-preview-1-icon {
    position: absolute;
    top: 155px;
    left: 205px;
    width: 36px;
    height: 34px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 127px;
    height: 42px;
}
.div7 {
    position: absolute;
    top: 8px;
    left: 42px;
}
.rectangle-parent {
    position: absolute;
    top: 215px;
    left: 582px;
    width: 127px;
    height: 42px;
}
.rectangle-group {
    position: absolute;
    top: 215px;
    left: 432px;
    width: 127px;
    height: 42px;
}
.rectangle-container {
    position: absolute;
    top: 215px;
    left: 732px;
    width: 127px;
    height: 42px;
}
.group-div {
    position: absolute;
    top: 215px;
    left: 882px;
    width: 127px;
    height: 42px;
}
.images-removebg-preview-1-icon {
    position: absolute;
    top: 158px;
    left: 269px;
    width: 40px;
    height: 30.8px;
    object-fit: contain;
}
.group-child2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ececec;
    width: 1259px;
    height: 208px;
}
.download-1-icon {
    position: absolute;
    top: 60px;
    left: 30px;
    border-radius: 100px;
    width: 91px;
    height: 90px;
    object-fit: cover;
}
.download-2-icon {
    position: absolute;
    top: 60px;
    left: 349px;
    border-radius: 100px;
    width: 87.9px;
    height: 90px;
    object-fit: cover;
}
.div11 {
    position: absolute;
    top: 73px;
    left: 150px;
    display: inline-block;
    width: 115px;
}
.div12 {
    position: absolute;
    top: 73px;
    left: 293px;
    display: inline-block;
    width: 80px;
}
.div13 {
    position: absolute;
    top: 153px;
    left: 37px;
    font-size: 21px;
}
.div14 {
    position: absolute;
    top: 156px;
    left: 352px;
    font-size: 21px;
}
.vs {
    position: absolute;
    top: 82px;
    left: 218px;
    font-size: 34px;
}
.line-div {
    position: absolute;
    top: 24.5px;
    left: 485.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 159px;
}
.group-child3 {
    position: absolute;
    top: 20px;
    left: 951px;
    background-color: #000;
    width: 283px;
    height: 170px;
}
.div15 {
    position: absolute;
    top: 105px;
    left: 1069px;
    font-size: 12px;
    color: #fff;
}
.div16 {
    position: absolute;
    top: 112px;
    left: 645px;
    font-size: 12px;
}
.div17 {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
}
.rectangle-parent1 {
    position: absolute;
    top: 314px;
    left: 91px;
    width: 1259px;
    height: 208px;
    font-size: 51px;
}
.rectangle-parent2 {
    position: absolute;
    top: 548px;
    left: 91px;
    width: 1259px;
    height: 208px;
    font-size: 51px;
}
.download-5-icon {
    position: absolute;
    top: 61px;
    left: 30px;
    border-radius: 100px;
    width: 91px;
    height: 90px;
    object-fit: cover;
}
.download-6-icon {
    position: absolute;
    top: 61px;
    left: 349px;
    border-radius: 100px;
    width: 87.9px;
    height: 90px;
    object-fit: cover;
}
.div25 {
    position: absolute;
    top: 74px;
    left: 150px;
    display: inline-block;
    width: 115px;
}
.div26 {
    position: absolute;
    top: 74px;
    left: 293px;
    display: inline-block;
    width: 80px;
}
.div27 {
    position: absolute;
    top: 154px;
    left: 37px;
    font-size: 21px;
}
.div28 {
    position: absolute;
    top: 157px;
    left: 352px;
    font-size: 21px;
}
.vs2 {
    position: absolute;
    top: 83px;
    left: 218px;
    font-size: 34px;
}
.group-child8 {
    position: absolute;
    top: 25.5px;
    left: 485.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 159px;
}
.group-child9 {
    position: absolute;
    top: 21px;
    left: 951px;
    background-color: #000;
    width: 283px;
    height: 170px;
}
.div29 {
    position: absolute;
    top: 106px;
    left: 1069px;
    font-size: 12px;
    color: #fff;
}
.div30 {
    position: absolute;
    top: 113px;
    left: 645px;
    font-size: 12px;
}
.div31 {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 18px;
}
.rectangle-parent3 {
    position: absolute;
    top: 782px;
    left: 89px;
    width: 1259px;
    height: 208px;
    font-size: 51px;
}
.mainpage {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3000px;
    overflow: hidden;
    text-align: left;
    font-size: 22px;
    color: #000;
    font-family: Inter;
}

