.calender-popup1-child {
    position: absolute;
    top: 95.5px;
    left: 33.5px;
    border-top: 3px solid #000;
    box-sizing: border-box;
    width: 1050px;
    height: 3px;
}
.div {
    position: absolute;
    top: 52px;
    left: 539px;
    font-size: 26px;
    text-align: center;
}
.div1 {
    position: absolute;
    top: 39px;
    left: 645px;
    display: inline-block;
    width: 26px;
    height: 46px;
}
.div2 {
    position: absolute;
    top: 39px;
    left: 472px;
    display: inline-block;
    width: 26px;
    height: 46px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.calender-popup1-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d9d9d9;
    width: 1117px;
    height: 29px;
}
.div3 {
    position: absolute;
    top: 4px;
    left: 1066px;
    font-size: 17px;
}
.calender-popup1-inner {
    position: absolute;
    top: 214.5px;
    left: 34.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1048px;
    height: 1px;
}
.line-div {
    position: absolute;
    top: 337.5px;
    left: 34.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1048px;
    height: 1px;
}
.calender-popup1-child1 {
    position: absolute;
    top: 462.5px;
    left: 34.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1048px;
    height: 1px;
}
.calender-popup1-child2 {
    position: absolute;
    top: 587.5px;
    left: 34.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1048px;
    height: 1px;
}
.calender-popup1-child3 {
    position: absolute;
    top: 101.5px;
    left: 170.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1-child4 {
    position: absolute;
    top: 101.5px;
    left: 318px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1-child5 {
    position: absolute;
    top: 96.5px;
    left: 483.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1-child6 {
    position: absolute;
    top: 96.5px;
    left: 644.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1-child7 {
    position: absolute;
    top: 101.5px;
    left: 788px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1-child8 {
    position: absolute;
    top: 96.5px;
    left: 956px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 492px;
}
.calender-popup1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 623px;
    overflow: hidden;
    text-align: left;
    font-size: 39px;
    color: #000;
    font-family: Inter;
}

